In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [216]:
answers = {} # создадим словарь для ответов
#я понимаю, что лучше все, что используется не один раз лучше вынести сюда, но мне этот не совсем удобно, 
#см. комментарии в коде

display(answer['0'])

NameError: name 'answer' is not defined

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [544]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа

# если ответили верно, можете добавить комментарий со значком "+"

In [141]:
# тут пишем ваш код для решения данного вопроса:
display(data[(data.budget == data.budget.max())].original_title)
answers['1'] = data[(data.budget == data.budget.max())].original_title.values[0]
display(answers['1'])

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [142]:
# можно добавлять разные варианты решения
data.sort_values(by='budget',ascending= False).head(1).original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [143]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

In [144]:
display(data[(data.runtime == data.runtime.max())].original_title)
answers['2'] = data[(data.runtime == data.runtime.max())].original_title.values[0]
display(answers['2'])

1157    Gods and Generals
Name: original_title, dtype: object

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [145]:
display(data[(data.runtime == data.runtime.min())].original_title)
answers['3'] = data[(data.runtime == data.runtime.min())].original_title.values[0]
display(answers['3'])

768    Winnie the Pooh
Name: original_title, dtype: object

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [146]:
display(data.mean().runtime)
answers['4'] = data.mean().runtime

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [147]:
display(data.median().runtime)
answers['5'] = data.median().runtime

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [148]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data.revenue - data.budget

display(data[(data.profit == data.profit.max())].original_title)
answers['6'] = data[(data.profit == data.profit.max())].original_title.values[0]
display(answers['6'] )

239    Avatar
Name: original_title, dtype: object

'Avatar'

# 7. Какой фильм самый убыточный?

In [217]:
#use data.profit  from step 6.
display(data[(data.profit == data.profit.min())].original_title)
answers['7'] = data[(data.profit == data.profit.min())].original_title.values[0]
display(answers['7'] )

1245    The Lone Ranger
Name: original_title, dtype: object

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [150]:
display(len(data[(data.revenue > data.budget)]))
answers['8'] = len(data[(data.revenue > data.budget)])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [151]:
display(data [data.revenue == data[(data.release_year == 2008)].revenue.max()].original_title)
answers['9'] = data [data.revenue == data[(data.release_year == 2008)].revenue.max()].original_title.values[0]
display(answers['9'])

599    The Dark Knight
Name: original_title, dtype: object

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [252]:
#use data.profit  from step 6.
answers['10'] = data[(data.profit == data.profit.min())&(data['release_year'] > 2012) 
                     & (data['release_year'] <= 2014)].original_title.values[0]
display(answers['10'])

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [153]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
genre_counter = Counter(data['genres'].str.cat(sep='|').split('|')).most_common()
display(type(genre_counter[0]))
answers['11'] = genre_counter[0]
display(answers['11'])
# если будешь добавлять функцию - выноси ее в предобработку что в начале

tuple

('Drama', 782)

ВАРИАНТ 2

In [154]:
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts(ascending=False)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [155]:
#use data.profit  from step 6.
profit_film = pd.Series(data[(data.profit > 0)].genres.str.cat(sep='|').split('|')).value_counts(ascending=False)
display(profit_film.head(1))
answers['12'] = profit_film.index[0]
display(answers['12'])

Drama    560
dtype: int64

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [156]:
'''#var.1
#use pivot table and merge on imdb_id
directors = pd.DataFrame(columns=['imdb_id','dir'])
revenues = data[['imdb_id','revenue']]
for index, row in data.iterrows():
    step_directors = pd.DataFrame(str.split(row.director,sep='|'),columns=['dir'])
    step_directors['imdb_id']=row['imdb_id']
    directors = directors.append(step_directors)

joined_dir_rev = directors.merge(revenues,on ='imdb_id',how ='inner').groupby(['dir']).sum()
display(joined_dir_rev[joined_dir_rev.revenue == joined_dir_rev.revenue.max()])


#var.2
data_dir = data.director.str.cat(sep='|')
data_dir = pd.Series(data_dir.split('|'))
data_dir = data_dir.value_counts()

for i in data_dir.index:
    for a in data.index:
        if i in data.director[a]:
            data_dir[i] = data_dir[i] + data.revenue[a]
sorted_director = data_dir.sort_values(ascending = False)

display(sorted_director.head(2))'''

'''
#var3.

data_dir = data.director.str.cat(sep='|')
data_dir = pd.Series(data_dir.split('|'))
data_dir = data_dir.value_counts()

from itertools import chain
def chainer(s):
    return list(chain.from_iterable(s.str.split('|')))

lens = data['director'].str.split('|').map(len)

splited_dir_revenue = pd.DataFrame({'director':chainer(data['director']),
                   'revenue':np.repeat(data['revenue'],lens)
                                   })

directors = []

for i in data_dir.index:
    directors.append([i, splited_dir_revenue['revenue'][splited_dir_revenue.director == i].sum()])

director_df = pd.DataFrame(directors, columns=["director", "revenue"]).sort_values(by='revenue', ascending=False)
display(director_df.head(1).director)'''


#var4
data_dir = data.director.str.cat(sep='|')
data_dir = pd.Series(data_dir.split('|'))
data_dir = data_dir.value_counts()

for i in data_dir.index:
    data_dir[i] = data['revenue'][data['director'].map(lambda x: True if i in x else False)].sum()
display(director_df.head(2))

answers['13'] = director_df.values[0,0]
display(answers['13'])

12    Peter Jackson
Name: director, dtype: object

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [161]:
data_tmp = data[data.genres.str.contains("Action")]
def counter(movie_bd, x):
    data_tmp=movie_bd[x].str.cat(sep='|') # превращаем все в одну строку
   
    data_tmp=pd.Series(data_tmp.split('|')) # создаем список разделяя строку по '|'
    
   
    data_tmp=data_tmp.value_counts(ascending=False) # считаем количество элементов строке
    
    return data_tmp

sum_gen=counter(data_tmp,'director')

display(sum_gen[:5])


answers['14'] = sum_gen[:1].index[0]
display(answers['14'])

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
dtype: int64

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [258]:
data_film = data[data.release_year == 2012]

data_cast = data_film.cast.str.cat(sep='|') 
data_cast = pd.Series(data_cast.split('|'))
data_cast = data_cast.value_counts()

from itertools import chain

def chainer(s):
    return list(chain.from_iterable(s.str.split('|'))) # get list of separated str

#return lenght of array
lens = data_film['cast'].str.split('|').map(len)

#new DFrame with one actor and same revenue and title, just one value for cast 
splited_cast_revenue = pd.DataFrame({'cast':chainer(data_film['cast']),
                                     'revenue':np.repeat(data_film['revenue'],lens),
                                     'original_title':np.repeat(data_film['original_title'],lens)
                                   })
actors = []
#loop throught every data_cast actor
for i in data_cast.index:
    #name of actor with sum of revenue througth the all films, were actor take part 
    actors.append([i, splited_cast_revenue['revenue'][splited_cast_revenue.cast == i].sum(), 
                   splited_cast_revenue['original_title'][splited_cast_revenue.cast == i].values])
#sorting of the revenue
actors_df = pd.DataFrame(actors, columns=['cast', 'revenue', 'original_title']).sort_values(by='revenue', ascending=False)
display(actors_df.head(2))

answers['15'] = actors_df.head(1).cast.values[0]
display(answers['15'])

,cast,revenue,original_title
1,Chris Hemsworth,2027450773,"[The Avengers, Snow White and the Huntsman, Th..."
48,Denis Leary,1629460639,"[The Amazing Spider-Man, Ice Age: Continental ..."

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [260]:
data_cast = data[data['budget'] > data['budget'].mean()].cast.str.cat(sep='|')
data_cast = pd.Series(data_cast.split('|'))
data_cast = data_cast.value_counts()

display(data_cast.head(2))

answers['16'] = data_cast.head(1).index[0]
display(answers['16'])

Matt Damon      18
Adam Sandler    17
dtype: int64

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [261]:
#use func. counter written in step 14
sum_gen = counter(data[data.cast.str.contains("Nicolas Cage")],'genres')

display(sum_gen[:5])

answers['17'] = sum_gen[0:1].index[0]
display(answers['17'])

Action      17
Thriller    15
Drama       12
Crime       10
Fantasy      8
dtype: int64

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [255]:
data['losses'] = data.budget - data.revenue

#sort data frame there company is Paramount Pictures
display(data[(data.production_companies.str.contains("Paramount Pictures"))].
        sort_values(by='losses', ascending=False).head(2).original_title)
answers['18'] = (data[(data.production_companies.str.contains("Paramount Pictures"))].
                sort_values(by='losses', ascending=False).original_title.values[0])
display(answers['18'])

925     K-19: The Widowmaker
1123                Timeline
Name: original_title, dtype: object

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [166]:
data_year = data.groupby('release_year').sum()

display(data_year.sort_values(by='revenue', ascending=False))

answers['19'] = data_year.sort_values(by='revenue', ascending=False).index[0]
display(answers['19'])

,budget,revenue,runtime,vote_average,profit,losses
release_year,,,,,,
2015,6780630004,25449202382,13355,755.2,18668572378,-18668572378
2014,7008050000,23405862953,13444,774.5,16397812953,-16397812953
2013,7970620000,23213799791,15039,846.9,15243179791,-15243179791
2012,7002000000,23079001687,12145,682.1,16077001687,-16077001687
2011,7946550531,22676791872,15355,868.5,14730241341,-14730241341
2010,7540000000,21071204961,13592,762.1,13531204961,-13531204961
2009,6838046652,20261791024,14187,800.2,13423744372,-13423744372
2008,6588900000,18252781990,12979,731.1,11663881990,-11663881990
2007,6596495000,18162406801,14305,809.3,11565911801,-11565911801
2004,6029250000,15663430720,12014,671.3,9634180720,-9634180720
2005,6327500000,15309425558,13387,733.5,8981925558,-8981925558
2006,6083965000,14775042320,13952,775.4,8691077320,-8691077320
2003,5117300000,14346123312,10623,574.4,9228823312,-9228823312
2002,5134000000,14136361487,11528,653.1,9002361487,-9002361487
2001,5067150000,13017764865,11284,619.8,7950614865,-7950614865
2000,4562700000,10664099805,9956,542.5,6101399805,-6101399805

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [167]:
data_tmp = data[(data.production_companies.str.contains("Warner Bros"))]

display(data_tmp.groupby('release_year').sum().sort_values(by='revenue', ascending=False))

answers['20'] = data_tmp.groupby('release_year').sum().sort_values(by='revenue', ascending=False).index[0]
display(answers['20'])

,budget,revenue,runtime,vote_average,profit,losses
release_year,,,,,,
2014,947600000,3243064519,1576,88.9,2295464519,-2295464519
2007,982000000,3183675217,1721,95.4,2201675217,-2201675217
2008,916000000,3050595031,1366,72.0,2134595031,-2134595031
2010,1034000000,3008712985,1421,79.6,1974712985,-1974712985
2011,974000000,2845393682,1248,68.3,1871393682,-1871393682
2003,890000000,2745493377,1085,56.7,1855493377,-1855493377
2009,915500000,2737954136,1305,67.9,1822454136,-1822454136
2004,1100000000,2731933725,1624,78.7,1631933725,-1631933725
2013,963500000,2599953400,1100,59.9,1636453400,-1636453400
2005,861000000,2412980298,1193,63.0,1551980298,-1551980298
2001,923000000,2266545668,1571,83.6,1343545668,-1343545668
2012,611500000,1869520056,579,30.0,1258020056,-1258020056
2002,680000000,1702709901,1281,70.6,1022709901,-1022709901
2015,820800003,1691168351,1358,75.9,870368348,-870368348
2006,901000000,1521170743,1504,81.0,620170743,-620170743
2000,572900000,1025531386,1333,68.0,452631386,-452631386

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [227]:
#add row month in data set with release month 
data['month'] = data['release_date'].apply(lambda data_str: data_str.split('/')[0])
count_month = data.month.value_counts()

display(count_month)

answers['21'] = count_month.index[0]
display(answers['21'])

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [169]:
date_month = data.release_date.apply(lambda x:x[0])
#contains('6|7|8', regex=True) possible to do just for month with one digit from 2 till 9
display(date_month.str.contains('6|7|8', regex=True).value_counts().loc[True])

answers['22'] = date_month.str.contains('6|7|8', regex=True).value_counts().loc[True]
display(answers['22'])

450

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [231]:
#check reg.exp.
data_tmp = data[data.release_date.str.contains('^(1|2|12)/\d{1,2}/\d{4}', regex=True)]
#use func.  counter from step 14
sum_gen=counter(data_tmp,'director')
display(sum_gen[:5])

answers['23'] = sum_gen[0:1].index[0]
display(answers['23'])

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Nancy Meyers         4
Shawn Levy           4
dtype: int64

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [171]:
data['title_len'] = data['original_title'].apply(len)

data_company = data.production_companies.str.cat(sep='|')
data_company = pd.Series(data_company.split('|'))
data_company = data_company.value_counts()

for i in data_company.index:
    data_company[i] = data['title_len'][data['production_companies'].map(lambda x: True if i in x else False)].mean()
display(data_company.sort_values(ascending=False).head(2))

answers['24'] = data_company.sort_values(ascending=False).index[0]
display(answers['24'])

Four By Two Productions    83
Jim Henson Company, The    59
dtype: int64

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
#row with len of thr words of overview
data['overview_len'] = data.overview.str.split().apply(len)

data_company = data.production_companies.str.cat(sep='|')
data_company = pd.Series(data_company.split('|'))
data_company = data_company.value_counts()

for i in data_company.index:
    data_company[i] = data['overview_len'][data['production_companies'].map(lambda x: True if i in x else False)].mean()
display(data_company.sort_values(ascending=False).head(2))

answers['25'] =data_company.sort_values(ascending=False).index[0]
display(answers['25'])

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [173]:
data_sort = data[['vote_average', 'original_title']].sort_values(by = 'vote_average',ascending= False)

data_best =data_sort[:round(len(data_sort )*0.01)]
display(data_best.original_title)

answers['26'] = data_best.original_title.values
display(answers['26'])

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
863             The Lord of the Rings: The Two Towers
Name: original_title, dtype: object

array(['The Dark Knight', 'Interstellar', 'The Imitation Game',
       'Inside Out', 'Room', 'The Wolf of Wall Street', 'Gone Girl',
       '12 Years a Slave', 'Guardians of the Galaxy',
       'The Lord of the Rings: The Return of the King', 'Memento',
       'Inception', 'The Pianist', 'The Grand Budapest Hotel', 'Her',
       'Spotlight', 'Big Hero 6', 'The Fault in Our Stars',
       'The Lord of the Rings: The Two Towers'], dtype=object)

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [264]:
data['data_cast'] = data.cast.apply(lambda x: x.split('|'))

cast_combi = {}

for i in data['data_cast']:
    for j in list(combinations(i, 2)):
        if j in cast_combi: # is combination in list, so add 1
            cast_combi[j] = cast_combi[j] + 1
        else : 
            cast_combi[j] = 1

#sort dictionary on descending of actor combinations     
sorted_dict = sorted(cast_combi.items(), key=lambda item: item[1], reverse=True)
display(sorted_dict[:5])

answers ['27'] = sorted_dict[0]
display(answers['27'])

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

(('Daniel Radcliffe', 'Rupert Grint'), 8)

# Submission

In [175]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': ('Drama', 782),
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '17': 'Action',
 '16': 'Matt Damon',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': '1',
 '22': 450,
 '23': 'Clint Eastwood',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': array(['The Dark Knight', 'Interstellar', 'The Imitation Game',
        'Inside Out', 'Room', 'The Wolf of Wall Street', 'Gone Girl',
        '12 Years a Slave', 'Guardians of the Galaxy',
        'The Lord of the Rings: The Return of the King', 'Memento',
        'Inception', 'The Pianist', 'The Grand Budapest Hotel', 'Her',
        'Spotlight', 'Big Hero 6', 'The Fault in Our Stars',
        'The Lord of the Rings: The Two Towers'], dtype=object),
 '27': (('Daniel Radcliffe', 'Rupert Grint'), 8)}

In [176]:
# и убедиться что ни чего не пропустил)
len(answers)

27